.skills-container {
  position: relative;
  height: 500px; /* Adjust height as necessary */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Or any color you prefer */
}

.tech-stack-title {
  color: white;
  position: absolute;
  font-size: 45px; /* Adjust font size as necessary */
  z-index: 10;
}

/* .orbit-element {
  position: absolute;
  width: 120px; 
  height: 120px; 
  will-change: transform; 
  transform-origin: 50% 50%;
  animation: orbit var(--orbit-duration) infinite linear;
  animation-delay: calc(
    var(--orbit-duration) / var(--total-elements) * var(--orbit-index) * -1
  );
} */

.orbit-element {
  position: absolute;
  width: var(--size); /* Size controlled by CSS variable */
  height: var(--size); /* Size controlled by CSS variable */
  will-change: transform;
  transform-origin: 50% 50%;
  animation: orbit var(--orbit-duration) infinite linear;
  animation-delay: calc(
    var(--orbit-duration) / var(--total-elements) * var(--orbit-index) * -1
  );
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(var(--distance)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(var(--distance)) rotate(-360deg);
  }
}

/* Responsive adjustments for larger screens */
@media (min-width: 640px) {
  /* Adjusts for Tailwind's 'md' breakpoint */
  .skills-container {
    height: 500px; /* Larger height for larger screens */
  }

  .tech-stack-title {
    font-size: 45px; /* Larger font size for larger screens */
  }

  .orbit-element {
    --size: 120px; /* Larger size for larger screens */
    --distance: 230px; /* Larger distance for larger screens */
  }
}
